*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# examples

examples/toy001-nostdlib
examples/toy002-libc
examples/toy003-sindex
examples/toy004-strcmp
examples/toy005-arguments

# dump

test/auto/i64.dump
